.LinkTechnology{
    text-decoration: none;
    font-size: 55px;
    color: black;
}
.LinkInvestment{
    text-decoration: none;
    font-size: 55px;
    color: black;
}
.FlexOfItems{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    text-decoration: none;
}
.productMapItemparent{
    height: 655px;
}
.productMapItemparentChild{
    text-align: center;
    margin-left: 55px;
    margin-top: 85px;
    font-family: cursive;
}
.item1 { grid-area: header;
font-weight: bolder; }
.item2 { grid-area: menu; }
.item3 { grid-area: main;
color: green;
margin-top: 45px; 
font-size: 35px;}
.item4 { grid-area: right; 
width: 155px;
margin-top: 25px;}
.item5 { 
    grid-area: footer; 
    width: 655px;
    margin-left: 55px;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 5px;
  background-color: #f6f8fa;
  padding: 10px;
  box-shadow: 10px 10px 8px #888888;
}

.grid-container > div {
  background-color: rgba(255, 251, 251, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.AddtoCart{
    padding: 15px;
    margin-top: 25px;
    width: 155px;
    border-radius: 25px;
    background-color: #F44336;
    border: none;
    box-shadow: 5px 5px 8px 5px #888888;
}