.thFooterHead {
    margin: 55px;
}

.FooterMainParentDiv {
    background-color: #FAFBFC;
    float: left;
    width: 100%;
}


/* .ParentOfFooterHeadMap{
    margin-top: 55px;
} */

.itemHead {
    color: black;
    margin-left: 185px;
    margin-top: 55px;
}

.FooterLink {
    text-decoration: none;
    color: black;
}