.NavParentDiv {
    background-color: white;
    height: 75px;
    display: flex;
    text-align: right;
    font-family: inter, serif;
    box-shadow: 1px 1px 5px 1px #888888;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    background-color: #fff;
}

.NavIcon {
    text-align: left;
    margin-left: 1px;
    margin-top: 15px;
    height: 40px;
}

.CartIcon {
    height: 40px;
    background-color: transparent;
    margin-left: 55px;
    margin-top: 15px;
    color: white;
}

.LinkP {
    margin-left: 500px;
}

.LinkNav {
    margin-left: 55px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}